body{
  background-color:darkKhaki;
  margin:0;
}

header{
  position:fixed;
  top:0;
  width:100%;
  display:grid;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
  background-color:grey;

}

main{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:5px;
  grid-auto-rows: minmax(50px,auto)
}

main>section{
background-color:red;
}

.middelssak{
  grid-column:span 2;
  grid-row:span 2;
}
.storsak{
  grid-column:span 3;
  grid-row: span 3;
}
header>.lenke{
  align-self:center;
  text-decoration: none;
}
#logo>h3{
  font-size:32px;
  color:white;
  padding-left:10px;
  font-family:helvetica, sans-serif, times;
  margin:1px;
}
img{
  width:100px;
  height:100px;
}
